<footer>
    <div class="testimonios">
        <h2 class="testimonios__title">
          Testimonios
        </h2>
      <div class="list-testimonios">
          <div class="testimonio testimonio-1">
              <header>
                  <div class="user">
                  <img class="img-testimonio" src="../assets/imagenes/user2.png" alt="maria">
                  <strong>
                      Maria Suarez
                  </strong>
              </div>
                  <div class="starscolor">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                  </div>
              </header>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quod incidunt minus, ipsam
                  laboriosam soluta dolor aliquam assumenda error eveniet.
              </blockquote>
          </div>
          <div class="testimonio testimonio-2">
              <header>
                  <div class="user">
                  <img class="img-testimonio" src="../assets/imagenes/user1.png"alt="maria">
                  <strong>
                      Jonh Mcgregor
                  </strong>
              </div>
                  <div class="starscolor">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>
              </header>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit libero ut deleniti dolore
                  explicabo reiciendis animi optio eaque commodi numquam.
              </blockquote>
          </div>
          <div class="testimonio testimonio-3">
              <header>
                  <div class="user">
                      <img class="img-testimonio" src="../assets/imagenes/user3.png" alt="maria">
                      <strong>
                         Jorge Bernal
                      </strong>
                  </div>
                  <div class="starscolor">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                  </div>
              </header>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nisi facilis,
                  earum pariatur minus sequi qui eos dolores nam aut.
              </blockquote>
          </div>
      </div>
      <div class="nav"> 
        <div class="contacto">
            <p class="titulo-footer">Contacto</p>
            <p class="contenido-footer">
            +57 3177270217 
            </p>
            <p class="titulo-footer">Email</p>
            <p class="contenido-footer">
            vereda.elmatrimonio.com.co
            </p>
            <p class="titulo-footer">Direccion</p>
            <p class="contenido-footer">
            Vereda paraiso la palma, Pitalito-Hulia
            </p>    
        </div>
        <div class="siguenos">
          <ul class="menu-social">
            <h3 class="tituloredes">SIGUENOS</h3>
            <li class="menu-social-item">
                <a class="iconnos" href="https://m.facebook.com/people/Finca-cafetera-el-matrimonio/100063616281942/">
                    <i class="fa-brands fa-facebook"></i>
                </a>  
                <a class="iconnos" href="https://www.instagram.com/fincacafeteraelmatrimonio/?igsh=MTliZW9tbHhxOTV1&utm_source=qr">
                    <i class="fa-brands fa-instagram"></i>
                </a> 
                <a class="iconnos" href="https://www.tiktok.com/@finca.cafetera.ma?_t=8lEdJkw7YN4&_r=1">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
          </ul>
        </div>
    </div>
   </div>
</footer>
    
    