<body>
    <app-encabezado></app-encabezado>
    <!-- <app-presentacion [title]="dataCard.title" [description]="dataCard.description" [image]="dataCard.urlImage"></app-presentacion>
     -->


  <section >

    <div class="row flex-md-row">
        <div class="col col-md-6 col-one container">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" alt="foto_cafe1">
              </div>     
          </div>      
        
      </div>
        <div class="col col-md-6 col-two container">
          <div class="card1 p-md-4 p-lg-5">
            <h2 class="title-coffe"> {{cafe250.nombre}}</h2>
            <p> {{cafe250.precio}}</p>
          </div>
        </div>
      </div>
  </section>
    

</body>