<div class="fondo">
  <div class="container">
    <h2 class="titulo">Mis Datos</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Nombre Completo</th>
            <th>Cédula</th>
            <th>Email</th>
            <th>Contacto</th>
            <th>Fecha de Reserva</th>
            <th>Hora de Llegada</th>
            <th>Cantidad de Personas</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ dataCliente.nombre }}</td>
            <td>{{ dataCliente.cedula }}</td>
            <td>{{ dataCliente.email }}</td>
            <td>{{ dataCliente.telefono }}</td>
            <td>{{ dataReserva.fechaReserva }}</td>
            <td>{{ dataReserva.horaLlegada }}</td>
            <td>{{ dataReserva.cantidadPersonas }}</td>
            <td>{{ dataReserva.estado }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="container">
    <h2 class="titulo">Mi Pedido</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of dataPedido.productos">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
          </tr>
        </tbody>
      </table>
      <div class="totar-reserva">
        <h2>Total:</h2>
        <h3>{{dataPedido.total}}</h3>
      </div>
    </div>
  </div>
  
  <app-buttons-consulta></app-buttons-consulta>
</div>

