<body>
    <div class="pregunta-boton">
        <h4 class="pregunta">¿Le gustaría explorar nuestro menú para conocer las opciones disponibles?</h4>
    <div class="botones">
        <button class="btn btn-success" (click)="mostrarMenu()" [disabled]="mostrarMenuActivo"><i class="fa-regular fa-thumbs-up"></i></button>
        <button class="button" class="btn btn-danger" (click)="ocultarMenu()" [disabled]="!mostrarMenuActivo"><i class="fa-regular fa-thumbs-down"></i></button>
    </div>
    </div>
        <div *ngIf="menuVisible">
          <li><app-form-restaurante></app-form-restaurante></li>
        </div>
      
        <h3 class="h3">Capacidad del Camping</h3>
        
    <div class="tarjetas" >
        <div class="card" style="width: 18rem;" *ngFor=" let dato of data">
            <img [src]="dato.urlImagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{dato.nombre}}</h5>
              <p class="card-text">{{dato.descripcion}}</p>
              <p class="card-text">{{dato.precio}}</p>
              <a href="#" class="btn btn-primary">Reservar</a>
            </div>
          </div>    
    </div>
    <h5>costo</h5>
</body>

    