.pregunta {
    font-size: 20px;
    margin: 1rem;
}
.botones{
    display: flex;
    justify-content: start;
    gap: 2em;
    margin: 1rem;
}
.h3{
    margin: 1rem;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
} 

.card-body {
    text-align: center;
}