
<form action="">
    <p>¿Cómo te gustaría que sea tu evento?</p>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <a routerLink="/restaurante">Opciones de comida</a>
    </div>
    <div class="mb-3">
        <a routerLink="/restaurante">Opciones de entradas</a>
    </div>
    <div class="mb-3">
        <a routerLink="/restaurante">Opciones de decoracion</a>
    </div>
</form>


