h2 {
  display: flex;
  justify-content: center;
  margin-top: .5em;
  font-weight: bolder;
}

.menu {
    margin: 1em auto;
    width: 90%;
}

.btn.total {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Alinea verticalmente los elementos */
  border: 1px solid #ccc;
}

.total-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos dentro de total-container */  
}

.total-label {
  margin-right: 10px; /* Espacio entre total y monto */
  margin-bottom: 0em;
  font-weight: bold;

}

.total-amount {
  font-weight: bold;
  color: #007bff; /* Color del monto */
  margin-bottom: 0em;
}